body {
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    box-sizing: border-box;
    margin: auto;
    width: 90%;
}

/* BANDE DU HEADER */


.bande {
    display: flex;
    justify-content: space-between;
}

.lelogo {
    width: 60px;
    margin-top: 50px;
}

.write {
    font-size: 14px;
}

.write:visited:hover {
    color: #0065FC;
}


.navigation ul {
    display: flex;
    list-style: none;
    margin-top: -15px;
    padding-top: 15px;
}

.navigation ul li {
    padding-top: 40px;
    border-top: 2px solid rgba(0, 0, 255, 0)
}

.navigation ul li:hover {
    border-top: 2px solid #0065FC;
    padding-top: 40px;
    

}

.Hebergement-right {
    margin-right: 50px;
}

.noviolet {
    text-decoration: none;
}

.noviolet:link {
    color: #000;
}

.noviolet:visited {
    color: #000;
}

/* HEADER */

.title-page {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.title-description {
    margin-top: -7px;
    font-size: 14px;
}

/*SEARCH BAR*/

.formulaire-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 6px;

}

.logo-loca {
    background-color: #D9D9D9;
    width: 50px;
    height: 40px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moteur {
    height: 38px;
    width: 200px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #D9D9D9 1px solid;
    border-bottom: #D9D9D9 1px solid;


}

.bordurenone {
    border: none;
    color: black;
}

.bordurenone::placeholder {
    font-weight: bold;
    color: black;
}


input:focus {
    outline: none;
}



.rechercher {
    background-color: #0065FC;
    color: white;
    font-weight: 800;
    border-radius: 0px 15px 15px 0px;
    font-size: medium;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loupe {
    display: none;
}


/* FILTRE */


.filtre {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;


}



.filtre-name {
    font-weight: bolder;
}


.filtreindividuel {

    border: 2px solid #D9D9D9;
    border-radius: 30px;
    padding: 10px 15px 10px 10px;
    margin-bottom: 15px;
    display: flex;
    font-weight: bolder;
}

.logo-filtre {
    margin-right: 15px;
    padding-left: 10px;
}

.filtreindividuel:hover {
    background-color: #DEEBFF;
}

.couleurdeslogos {
    color: #0065FC;
}

/* INFO */

.info {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 30px;
}

.iconeinfo {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}



/* HEBERGEMENTS A MARSEILLE */

h2 {
    margin-left: 10px;
}

.hebergement-populaire-container {
    display: flex;
    justify-content: space-between;

}

.hebergement-container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #f2f2f2;
    width: 63%;

}

.hebergement-container-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.hebergement-card {
    width: 27%;
    height: auto;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px #d9d9d9;


}


.image-hebergement-container-card {
    width: auto;
    margin: 3px;

}

.image-hebergement-card {
    height: 120px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;

}

.description-stars-heb {
    padding-left: 15px;

}

.titre-hebergement-card {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.prix-hebergement-card {
    margin-top: 3px;
    margin-bottom: 5px;
}

.stars-heb {
    display: flex;
    justify-content: flex-start;
    margin-top: 3px;
    margin-bottom: 7px;
}

.etoiles {
    color: #0065FC;
}

.etoilegrise {
    color: #f2f2f2;
}

.more {
    margin-top: 10px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 40px;
}

/* LES PLUS POPULAIRES */

.populaire-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 15px;
    align-items: center;

}




.populaire-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.title-deux {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 40px;
    font-weight: bold;
}

.logo-chart {
    margin-top: 40px;
    padding-right: 20px;
    color: #0065FC;
}

.populaire-container-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.populaire-left {
    display: flex;
}

.populaire-card {
    display: flex;
    width: 86%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px #d9d9d9;
    margin-bottom: 35px;
}



.image-populaire-container-card {
    width: 150px;
    height: 140px;
    margin: 4px;
    border-radius: 15px;

}


.image-populaire-card {
    height: 140px;
    width: 150px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.description-stars-popu {
    line-height: 30px;
    display: flex;
    flex-direction: column;

}

.description-popu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    width: 50%;
}

.titre-populaire-card {
    font-weight: bold;
}

.prix-populaire-card {
    margin-top: -10px;
}

.stars-popu {
    display: flex;
    margin-bottom: 10px;


}








/* FOOTER */

.A-propos-Nos-hebergements-Assistance-container {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;


}

.footer-liste {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.footer-list-element {
    list-style: none;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
}


.footer-list-element:before {
    content: attr(aria-label);
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 10px;
}









































